Aula_03 - Produção.json
{
  "name": "Aula_03 - Produção",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.chat.id }}{{ $json.message.text }}",
        "options": {
          "systemMessage": "Você é o HR Buddy, assistente virtual de RH da ChocolaTech.\nREGRAS:\n\n1. Sempre responda em português.\n2. Responda APENAS dúvidas relacionadas a RH.\nIDENTIFICAÇÃO DO FUNCIONÁRIO:\n- Se o usuário não disser quem é, pergunte o nome completo dele logo na primeira mensagem.\n- Use a ferramenta MySQL para buscar na tabela funcionarios usando SEMPRE o NOME COMPLETO informado pelo usuário na conversa.\n- Se encontrado: use os saldos de férias e banco de horas.\n- Se não encontrado: não invente dados pessoais. Responda apenas com base nas políticas gerais de RH do Vector Store.\nUse a base de conhecimento para dúvidas gerais."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -352,
        -352
      ],
      "id": "9721a0e6-3687-40e2-94f2-aef6049dfe6c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatCohere",
      "typeVersion": 1,
      "position": [
        -352,
        -176
      ],
      "id": "3b2710ac-5fbb-421d-a9d2-e7b15ea0ffcf",
      "name": "Cohere Chat Model",
      "credentials": {
        "cohereApi": {
          "id": "7H0uoLWxv4o8wiBl",
          "name": "Cohere account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.text }}{{ $json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        -256,
        -32
      ],
      "id": "a675a03d-3bc9-4bcf-9c7f-063551c82e0b",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Busque informações sobre politicas de RH férias horários e rotinas da empresa Chocolatech",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        160,
        -240
      ],
      "id": "caea9564-6b0a-4258-bd40-21e6eba1f0b2",
      "name": "Simple Vector Store"
    },
    {
      "parameters": {
        "modelName": "embed-multilingual-v3.0"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        160,
        -64
      ],
      "id": "f68f7a04-b5fa-4825-9dca-46b509875e28",
      "name": "Embeddings Cohere",
      "credentials": {
        "cohereApi": {
          "id": "7H0uoLWxv4o8wiBl",
          "name": "Cohere account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "funcionarios",
          "mode": "list",
          "cachedResultName": "funcionarios"
        },
        "where": {
          "values": [
            {
              "column": "nome",
              "condition": "LIKE",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', `Sempre use o formato %nome% (com % no inicio e no fim) para busca parcial.\nExemplo: \n% João Silva%`, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySqlTool",
      "typeVersion": 2.5,
      "position": [
        -96,
        -192
      ],
      "id": "42f20ca1-a0ab-4e42-ac9b-2246cac8a479",
      "name": "Select rows from a table in MySQL",
      "credentials": {
        "mySql": {
          "id": "ibNZm3jtL0rta1F2",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        -576,
        -352
      ],
      "id": "56697196-b740-405a-b275-de7567a90e7a",
      "name": "Telegram Trigger",
      "webhookId": "6ab0ba82-90ea-4833-b74d-973f3d3bd7f1",
      "credentials": {
        "telegramApi": {
          "id": "BPKHHGaTvUlYZVVn",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        -352
      ],
      "id": "2d5aad40-6790-4ec5-b2d5-4cb573e7401d",
      "name": "Send a text message",
      "webhookId": "92cdce69-7791-467f-ad9b-77cab6ac3708",
      "credentials": {
        "telegramApi": {
          "id": "BPKHHGaTvUlYZVVn",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Cohere Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Cohere": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table in MySQL": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "353bb351-aaf0-49da-a081-26eab02048f3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ea4890c12b70100f112b93de4fd2bab34eae37abe0cf3093361f3219c503cffa"
  },
  "nodeGroups": [],
  "id": "H3lgt7X19NhNFIrh",
  "tags": []
}